* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body.full-height {
  height: 100vh;
  position: relative;
}
body.full-height #copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: white;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border: 1px solid #B0BEC5;
  border-radius: 10px;
  background-color: #B0BEC5;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: white;
}
.custom-scrollbar::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

.alertify .ajs-header,
.alertify .ajs-body,
.alertify .ajs-footer {
  font-family: "Montserrat", sans-serif !important;
}

.show-hide-pwd {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 9px;
  color: #6f768e;
}

.error {
  color: #a71d2a;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 0;
  width: 100%;
}
.error:before {
  content: "*";
  margin-right: 3px;
}

.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
}

.font-size-15 {
  font-size: 15px;
}

#header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
#header .header-logo {
  max-width: 100%;
  width: 100px;
}
#header .header-menu ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
#header .header-menu ul li {
  font-size: 0;
  display: inline-block;
}
#header .header-menu ul li a {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  display: inline-block;
  color: #434953;
  font-weight: bold;
  position: relative;
}
#header .header-menu ul li a:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  margin: auto;
  height: 2px;
  background: #434953;
  transition: all 0.3s ease;
}
#header .header-menu ul li a:hover:before {
  width: 75%;
}
#header .header-menu ul li a.dropdown-item.active {
  color: #fff;
}
#header .header-menu ul li.active a:not(.dropdown-item) {
  color: #2188C9;
  box-shadow: 0 0 4px 1px;
  border-radius: 15px;
}
#header .header-auth .bar-user-icon {
  padding: 7px 22px;
  cursor: pointer;
  font-size: 20px;
  transition: ease-in-out 0.2s;
  border-radius: 7px;
}
#header .header-auth .bar-user-icon:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#header .header-auth .bar-user-menu {
  position: relative;
}
#header .header-auth .bar-user-menu .menu-user {
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  background: #fff;
  padding: 15px 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
}
#header .header-auth .bar-user-menu .menu-user ul {
  list-style: none;
  margin-bottom: 0;
}
#header .header-auth .bar-user-menu .menu-user ul li a {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 22px;
  display: inline-block;
  color: #434953;
  font-weight: normal;
  position: relative;
  width: 300px;
  word-break: break-all;
  transition: all 0.2s;
}
#header .header-auth .bar-user-menu .menu-user ul li a:hover {
  font-weight: bold;
}
#header .header-auth .bar-user-menu .menu-user ul li.active a {
  font-weight: bold;
}

#copyright {
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

#slide-home .swiper {
  width: 100%;
  height: auto;
  max-height: 75vh;
}

#main-contents {
  background-image: url("/image/banner-top1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
#main-contents .header-content img {
  height: 50px;
}
#main-contents .list-notif {
  list-style: none;
  margin-bottom: 0;
}
#main-contents .list-notif img {
  height: 16px;
  width: 30px;
}
#main-contents .box-content {
  max-width: 650px;
  width: 100%;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  color: #4b4b4b;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
#main-contents .box-content:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 12px 10px;
  border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
  content: "";
  top: -12px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#main-contents .box-content.box-recharge ul {
  list-style: decimal;
}
#main-contents #auth-content {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.box-pay-card {
  text-align: left;
}
.box-pay-card .form-header img {
  margin-right: 7px;
  height: 40px;
  padding-bottom: 5px;
}
.box-pay-card label:not(.ignore) {
  height: 3.9em;
  color: #434a54;
  font-weight: 500;
  border: 1px solid #dcdcdf;
  border-radius: 5px;
  line-height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.15s ease;
  font-size: 16px;
  margin: 10px;
  width: 115px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 5px;
}
.box-pay-card label:not(.ignore).checked {
  border-color: #2188C9 !important;
  color: #2188C9 !important;
}
.box-pay-card label:not(.ignore) input[type=radio] {
  display: none;
}
.box-pay-card label:not(.ignore) img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
}

.checkbox-custom {
  width: 17px;
  height: 17px;
  border-radius: 9px;
  border: 1px solid transparent;
  -webkit-background-size: 10px 10px;
  background: #2188C9 url(/image/check.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  transition: all 0.3s ease;
  transform: scale(0);
}

input[type=radio]:checked ~ .checkbox-custom {
  transform: scale(1);
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f1f1f1;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-nomal {
  cursor: default;
}

.area-bill .icon {
  height: 6em;
  width: 6em;
  margin: auto;
  background: var(--background) no-repeat top center;
  background-size: 6em 12em;
}
.area-bill ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.area-bill ul a {
  width: 180px;
  height: 150px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  margin: 10px;
  position: relative;
}
.area-bill ul a:hover {
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
.area-bill ul a:hover .checkbox-custom {
  transform: scale(1);
}

.table-fixed-column {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  background: #fff;
}
.table-fixed-column:before {
  content: "";
  border-left: 2px solid #dee2e6;
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
}

#bottom_menu {
  background: #0c2c63;
}
#bottom_menu a {
  width: 100%;
  height: 60px;
  text-align: center;
  color: #fff;
  display: inline-table;
  transition: all 0.2s;
}
#bottom_menu a:hover {
  color: #0c2c63;
  background: #95acd5;
  font-weight: bold;
}
#bottom_menu a:hover .img-icon {
  background-position: top center;
}
#bottom_menu .img-icon {
  width: 3em;
  height: 3em;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin: 1em auto 0;
  background-size: 3em 6em;
  background-image: var(--img-icon-url);
}

input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  position: relative;
}

.input-group input[type=button] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
  border: 1px solid #ced4da;
}

.input-group .button-minus:focus,
.input-group .button-plus:focus {
  box-shadow: initial;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: 0;
  margin: 0 4px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  resize: vertical;
  border-radius: 0.25rem !important;
}

.input-group .quantity-field:focus {
  box-shadow: initial;
  z-index: 0;
}

.button-plus {
  right: 0;
}

[data-for] {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

@media (max-width: 575px) {
  .type_buy_response {
    flex-direction: column;
  }
  .type_buy_response label {
    width: calc(100% - 1rem) !important;
  }
  .type_buy_response [data-for] {
    width: calc(100% - 1rem) !important;
    margin-left: 0 !important;
    margin-top: 5px !important;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
