* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #e8ebef;

    &.full-height {
        height: 100vh;
        position: relative;

        #copyright {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid #B0BEC5;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #B0BEC5;
    }

    &::-webkit-scrollbar-corner {
        background-color: white;
    }

    &::-webkit-scrollbar {
        height: 7px;
        width: 7px;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: white;
    }
}

.alertify {
    .ajs-header,
    .ajs-body,
    .ajs-footer{
        font-family: 'Montserrat', sans-serif !important;
    }
}

.show-hide-pwd {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 9px;
    color: #6f768e;
}

.error {
    color: #a71d2a;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
    width: 100%;

    &:before {
        content: '*';
        margin-right: 3px;
    }
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.font-size-15 {
    font-size: 15px;
}

#header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    @import "header";
}

#copyright {
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

#slide-home .swiper {
    width: 100%;
    height: auto;
    max-height: 75vh;
}

#main-contents {
    background-image: url("/image/banner-top1.jpg");
    background-repeat: no-repeat;
    background-position: top;

    .header-content img {
        height: 50px;
    }

    .list-notif {
        list-style: none;
        margin-bottom: 0;

        img {
            height: 16px;
            width: 30px;
        }
    }

    .box-content {
        max-width: 650px;
        width: 100%;
        margin: auto;
        background: rgba(255, 255, 255, 0.9);
        color: #4b4b4b;
        border-radius: 7px;
        position: relative;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 12px 10px;
            border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
            content: "";
            top: -12px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }

        &.box-recharge {
            ul {
                list-style: decimal;
            }
        }
    }

    #auth-content {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
    }
}

.box-pay-card {
    text-align: left;

    .form-header {
        img {
            margin-right: 7px;
            height: 40px;
            padding-bottom: 5px;
        }
    }

    label:not(.ignore) {
        height: 3.9em;
        color: #434a54;
        font-weight: 500;
        border: 1px solid #dcdcdf;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        line-height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        -webkit-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease;
        font-size: 16px;
        margin: 10px;
        width: 115px;
        cursor: pointer;
        user-select: none;
        padding: 5px;

        &.checked {
            border-color: #2188C9 !important;
            color: #2188C9 !important;
        }

        input[type='radio'] {
            display: none;
        }

        img {
            display: block;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            max-width: calc(100% - 10px);
            max-height: calc(100% - 10px);
            left: 0;
            right: 0;
            margin: 0 auto;
            pointer-events: none;
        }
    }
}

.checkbox-custom {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid transparent;
    -webkit-background-size: 10px 10px;
    background: #2188C9 url(/image/check.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(0);
}

input[type="radio"]:checked ~ .checkbox-custom {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f1f1f1;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-nomal {
    cursor: default;
}

.area-bill {
    .icon {
        height: 6em;
        width: 6em;
        margin: auto;
        background: var(--background) no-repeat top center;
        -webkit-background-size: 6em 12em;
        background-size: 6em 12em;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            width: 180px;
            height: 150px;
            display: block;
            text-align: center;
            text-decoration: none;
            border-radius: 7px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            transition: all .2s;
            margin: 10px;
            position: relative;

            &:hover{
                box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
                border-color: transparent;

                .checkbox-custom {
                    transform: scale(1);
                }
            }
        }
    }
}

.table-fixed-column {
    position: sticky;
    right: 0;
    background: #fff;

    &:before {
        content: '';
        border-left: 2px solid #dee2e6;
        position: absolute;
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
    }
}

#bottom_menu {
    background: #0c2c63;

    a {
        width: 100%;
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: all .2s;

        &:hover{
            color: #0c2c63;
            background: #95acd5;
            font-weight: bold;
        }
    }
}
