* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    //background: #e8ebef;

    &.full-height {
        height: 100vh;
        position: relative;

        #copyright {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid #B0BEC5;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #B0BEC5;
    }

    &::-webkit-scrollbar-corner {
        background-color: white;
    }

    &::-webkit-scrollbar {
        height: 7px;
        width: 7px;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: white;
    }
}

.alertify {
    .ajs-header,
    .ajs-body,
    .ajs-footer {
        font-family: 'Montserrat', sans-serif !important;
    }
}

.show-hide-pwd {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 9px;
    color: #6f768e;
}

.error {
    color: #a71d2a;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
    width: 100%;

    &:before {
        content: '*';
        margin-right: 3px;
    }
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
}

.font-size-15 {
    font-size: 15px;
}

p.small {
    line-height: 0.7;
}

#header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    @import "header";
}

#copyright {
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

#slide-home .swiper {
    width: 100%;
    height: auto;
    max-height: 75vh;
}

#main-contents {
    background-image: url("/image/banner-top1.jpg");
    background-repeat: no-repeat;
    background-position: top;

    .header-content img {
        height: 50px;
    }

    .list-notif {
        list-style: none;
        margin-bottom: 0;

        img {
            height: 16px;
            width: 30px;
        }
    }

    .box-content {
        max-width: 650px;
        width: 100%;
        margin: auto;
        background: rgba(255, 255, 255, 0.9);
        color: #4b4b4b;
        border-radius: 7px;
        position: relative;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 12px 10px;
            border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
            content: "";
            top: -12px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }

        &.box-recharge {
            ul {
                list-style: decimal;
            }
        }
    }

    #auth-content {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
    }
}

.box-pay-card {
    text-align: left;

    .form-header {
        img {
            margin-right: 7px;
            height: 40px;
            padding-bottom: 5px;
        }
    }

    label:not(.ignore) {
        height: 3.9em;
        color: #434a54;
        font-weight: 500;
        border: 1px solid #dcdcdf;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        line-height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        -webkit-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease;
        font-size: 16px;
        margin: 10px;
        width: 115px;
        cursor: pointer;
        user-select: none;
        padding: 5px;

        &.checked {
            border-color: #2188C9 !important;
            color: #2188C9 !important;
        }

        input[type='radio'] {
            display: none;
        }

        img {
            display: block;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            max-width: calc(100% - 10px);
            max-height: calc(100% - 10px);
            left: 0;
            right: 0;
            margin: 0 auto;
            pointer-events: none;
        }
    }
}

.checkbox-custom {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid transparent;
    -webkit-background-size: 10px 10px;
    background: #2188C9 url(/image/check.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(0);
}

input[type="radio"]:checked ~ .checkbox-custom {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f1f1f1;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-nomal {
    cursor: default;
}

.area-bill {
    .icon {
        height: 6em;
        width: 6em;
        margin: auto;
        background: var(--background) no-repeat top center;
        -webkit-background-size: 6em 12em;
        background-size: 6em 12em;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            width: 180px;
            height: 150px;
            display: block;
            text-align: center;
            text-decoration: none;
            border-radius: 7px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            transition: all .2s;
            margin: 10px;
            position: relative;

            &:hover {
                box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
                border-color: transparent;

                .checkbox-custom {
                    transform: scale(1);
                }
            }
        }
    }
}

.table-fixed-column {
    position: sticky;
    right: 0;
    background: #fff;

    &:before {
        content: '';
        border-left: 2px solid #dee2e6;
        position: absolute;
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
    }
}

#bottom_menu {
    background: #0c2c63;

    a {
        width: 100%;
        height: 60px;
        text-align: center;
        color: #fff;
        display: inline-table;
        transition: all .2s;

        &:hover {
            color: #0c2c63;
            background: #95acd5;
            font-weight: bold;

            .img-icon {
                background-position: top center;
            }
        }
    }

    .img-icon {
        width: 3em;
        height: 3em;
        background-position: bottom center;
        background-repeat: no-repeat;
        margin: 1em auto 0;
        -webkit-background-size: 3em 6em;
        background-size: 3em 6em;
        background-image: var(--img-icon-url);
    }
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    position: relative;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
    border: 1px solid #ced4da;
}

.input-group .button-minus:focus,
.input-group .button-plus:focus {
    box-shadow: initial;
}

.input-group .quantity-field {
    position: relative;
    height: 38px;
    left: 0;
    margin: 0 4px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
    border-radius: .25rem !important;
}

.input-group .quantity-field:focus {
    box-shadow: initial;
    z-index: 0;
}

.button-plus {
    right: 0;
}

[data-for] {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

@media (max-width: 575px) {
    .type_buy_response {
        flex-direction: column;

        label {
            width: calc(100% - 1rem) !important;
        }

        [data-for] {
            width: calc(100% - 1rem) !important;
            margin-left: 0 !important;
            margin-top: 5px !important;
        }
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

$white: #dbdbdb;
$mid: #537bde;
$light: #a2eaa7;
$dark: #0a2f0c;
$speed: .3s;
$toggle-indicator-size: 24px;
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;
$track-border: $mid;
$track-background: $light;
$focus-ring: 0px 0px 0px 2px $dark;

.toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 16px;

    &:last-of-type {
        margin: 0;
    }
}

.toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:disabled + .toggle-track {
        cursor: not-allowed;
        opacity: 0.7;
    }
}

.toggle-track {
    background: $track-background;
    border: 1px solid $track-border;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: $track-height;
    margin-right: 12px;
    position: relative;
    width: $track-width;
}

.toggle-indicator {
    align-items: center;
    background: $dark;
    border-radius: $toggle-indicator-size;
    bottom: 2px;
    display: flex;
    height: $toggle-indicator-size;
    justify-content: center;
    left: 2px;
    outline: $highContrastModeSupport;
    position: absolute;
    transition: $speed;
    width: $toggle-indicator-size;
}

.checkMark {
    fill: #fff;
    height: $toggle-indicator-size - 4;
    width: $toggle-indicator-size - 4;
    opacity: 0;
    transition: opacity $speed ease-in-out;
    position: relative;
    top: -2px;
}

.toggle__input:not(:checked) + .toggle-track {
    background: $white;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
    background: #3c3c3c;
    transform: translateX($track-width - $track-height);

    .checkMark {
        opacity: 1;
        transition: opacity $speed ease-in-out;
    }
}

@media screen and (-ms-high-contrast: active) {
    .toggle-track {
        border-radius: 0;
    }
}

@media (max-width: 991px) {
    #bottom_menu {
        flex-wrap: wrap;
        justify-content: center;

        > a{
            width: calc(100% / 4);
        }
    }
}

@media (max-width: 575px) {
    #bottom_menu {
        > a{
            width: calc(100% / 3);
        }
    }
}
