@media (max-width: 575px) {
    > .container {
        > .row {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}

.header-logo {
    max-width: 100%;
    width: auto;
    max-height: 80px;
}

.header-menu {
    padding: 2px 0;

    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        align-items: center;

        li {
            font-size: 0;
            display: inline-block;
            max-width: 120px;
            text-align: center;

            a {
                text-decoration: none;
                font-size: 16px;
                padding: 8px 14px;
                display: inline-block;
                color: #434953;
                font-weight: bold;
                position: relative;

                &:before {
                    content: " ";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    margin: auto;
                    height: 2px;
                    background: #434953;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }

                &:hover:before {
                    width: 75%;
                }

                &.dropdown-item.active {
                    color: #fff;
                }
            }

            &.active a:not(.dropdown-item) {
                color: #2188C9;
                box-shadow: 0 0 4px 1px;
                border-radius: 15px;
            }
        }
    }
}

.header-auth {
    .bar-user-icon {
        padding: 7px 22px;
        cursor: pointer;
        font-size: 20px;
        transition: ease-in-out .2s;
        border-radius: 7px;

        &:hover {
            box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
        }
    }

    .bar-user-menu {
        position: relative;

        .menu-user {
            position: absolute;
            top: calc(100% + 7px);
            right: 0;
            background: #fff;
            padding: 15px 0;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
            border-radius: 7px;
            font-family: "Montserrat", sans-serif;

            ul {
                list-style: none;
                margin-bottom: 0;

                li a {
                    text-decoration: none;
                    font-size: 16px;
                    padding: 8px 22px;
                    display: inline-block;
                    color: #434953;
                    font-weight: normal;
                    position: relative;
                    width: 300px;
                    word-break: break-all;
                    transition: all .2s;

                    &:hover {
                        font-weight: bold;
                    }
                }

                li.active a {
                    font-weight: bold;
                }
            }
        }
    }
}
